.card {
  border: 1px solid tan;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-body {
  border: 1px solid yellowgreen;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
  margin-bottom: 5px;
}

.card-action {
  border: 1px solid yellowgreen;
  display: flex;
  flex-direction: column;
}

.card-title {
  border: 1px solid black;
  display: flex;
  justify-content: center;
}
.card-content {
  border: 1px solid black;
  padding: 5px;
}

.card-date {
  margin: 1px;
  border: 1px solid black;
  display: flex;
  justify-content: right;
}

.card-button {
  margin: 2px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
}

.card-toggle {
  width: 100px;
}

.card-delete {
  width: 100px;
}
